@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  /* week days */
  .active-btn {
    @apply border-b-2 border-red-900 text-yellow-400 dark:text-yellow-400;
  }
  .week-days {
    @apply m-1 flex h-28 w-20 flex-col items-center justify-between rounded-md opacity-95 backdrop-blur-3xl backdrop-filter;
  }
  .week-days p {
    @apply font-semibold text-black dark:text-yellow-500;
  }
  /* temperature */
  .todays-card {
    @apply flex h-28 w-full items-start justify-between rounded-md p-2 opacity-95 backdrop-blur-3xl md:h-full;
  }
  .temperature-card {
    @apply flex h-28 w-full flex-col items-start justify-between rounded-md p-2 opacity-95 backdrop-blur-3xl md:h-full;
  }

  .temperature-title {
    @apply text-base font-bold text-indigo-900 dark:text-sky-300;
  }

  .temperature-info {
    @apply ml-3 flex w-16 flex-row items-baseline justify-between gap-1 text-base max-md:mr-8 max-md:self-end;
  }

  .temperature-label {
    @apply text-lg text-black dark:text-white;
  }

  .temperature-value {
    @apply flex flex-row;
  }

  .temperature-number {
    @apply ml-1 text-base text-black dark:text-white;
  }

  .temperature-unit {
    @apply self-start text-xs text-red-900;
  }
  /* btn week & month */
  .btn-container {
    @apply flex flex-row max-md:mt-2;
  }

  .btn {
    @apply cursor-pointer px-1 py-1 font-serif text-xs font-semibold text-yellow-600 md:px-3 md:text-base;
  }

  .hourly-btn {
    @apply active-btn focus:bg-blue-800;
  }

  .weekly-btn {
    @apply focus:bg-blue-700;
  }
}

/* input custom  */
input[type="range"] {
  -webkit-appearance: none;
  /* margin: 5px 0; */
  width: 70%;
  height: max-content;
  background: transparent;
}
/* thumb */
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #231fbe;
  -webkit-appearance: none;
  margin-top: 0.3px;
  animation-duration: 1s;
  transition: all;
}
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #231fbe;
  animation-duration: 1s;
  transition: all;
}
input[type="range"]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #231fbe;
  animation-duration: 1s;
  transition: all;
}
/* track */
input[type="range"]::-moz-range-track {
  background: #d9e69a !important;
  width: 50px;
  border-radius: 16px;
  border: 1px solid #000000;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #d9e69a !important;
  width: 50px;
  border-radius: 16px;
  background: transparent;
}
input[type="range"]::-ms-track {
  background: #d9e69a !important;
  background: transparent;
  width: 50px;
}
input[type="range"]::-ms-fill-lower {
  border: 1px solid #000000;
  border-radius: 42px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  border: 1px solid #000000;
  border-radius: 42px;
  box-shadow: 1px 1px 1px #000000;
}
/* star night sky */
.night-sky i {
  position: absolute;
  background-color: rgb(147, 247, 17);
  border-radius: 50%;
  animation: animate linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-100px, -100px);
  }
}
/* bird day sky */
.day-sky img {
  position: absolute;
  background-image: url("../src/img/sky/bird.gif");
  background-size: cover;
  left: -150px;
  padding: 60px;
  height: 2rem;
  width: 2rem;
  border-image: none;
  border: none !important;
  opacity: 0.7;
  animation: bird 25s linear infinite;
  z-index: 90000;
}

@keyframes bird {
  from {
    left: -180px;
  }
  to {
    left: 200%;
  }
}
